<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ranch du Bonheur de Nivelle</title>
    @if (!string.IsNullOrEmpty(@ViewData["Title"]?.ToString()))
    {
        <meta property="og:title" content="Cliquez ici pour découvrir - @ViewData["Title"] - Ranch du Bonheur de Nivelle" />
    }
    @if (!string.IsNullOrEmpty(ViewData["OG:Description"]?.ToString()))
    {
        <meta property="og:description" content="@ViewData["OG:Description"]" />
    }
    @if (!string.IsNullOrEmpty(ViewData["OG:Image"]?.ToString()))
    {
        <meta property="og:image" content="@ViewData["OG:Image"]" />
    }
    @if (!string.IsNullOrEmpty(ViewData["OG:Url"]?.ToString()))
    {
        <meta property="og:url" content="@ViewData["OG:Url"]" />
    }
    @if (!string.IsNullOrEmpty(ViewData["MetaDescription"]?.ToString()))
    {
        <meta name="description" content="@ViewData["MetaDescription"]" />
    }
    @if (!string.IsNullOrEmpty(ViewData["CanonicalUrl"]?.ToString()))
    {
        <link rel="canonical" href="@ViewData["CanonicalUrl"]" />
    }


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "LocalBusiness",
          "name": "Ranch du Bonheur de Nivelle",
          "image": "@ViewData["OG:Image"]",
          "@@id": "https://www.ranchdubonheur.fr/",
          "url": "https://www.ranchdubonheur.fr/",
          "telephone": "+33642858026",
          "address": {
            "@@type": "PostalAddress",
            "streetAddress": "300 Route de Condé",
            "addressLocality": "Nivelle",
            "postalCode": "59230",
            "addressCountry": "FR"
          },
          "geo": {
            "@@type": "GeoCoordinates",
            "latitude": 50.45952414431575,
            "longitude": 3.494811146368993
          },
          "openingHoursSpecification": [
            {
              "@@type": "OpeningHoursSpecification",
              "dayOfWeek": [
                "Sunday"
              ],
              "opens": "12:30",
              "closes": "21:00"
            }
          ]
        }
    </script>

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//www.matomo.cedric-caudron.com/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>
<body>
    <header>
        <partial name="_NavbarPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_ToastNotifications" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <partial name="_FooterPartial" />
    </footer>

    <!-- Inclusion du bandeau de consentement -->
    <partial name="_CookieConsentPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
