@using RanchDuBonheur.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<List<RanchDuBonheur.Models.Pocos.Meals.Meal>, bool>
@{
    ViewData["Title"] = "Prochains Repas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var meals = Model.Item1;
    var showPast = Model.Item2;
}

<div class="container">

    <h1 class="text-center my-4">@(showPast ? "Repas Passés" : "Prochains Repas")</h1>

    <div class="d-flex justify-content-center mb-3">
        <a asp-action="Index" asp-route-showPast="@(showPast ? false : true)" class="btn btn-primary">
            @(showPast ? "Voir les prochains repas" : "Voir les repas passés")
        </a>
    </div>

    @if (meals.Count == 0)
    {
        <p class="text-center mt-4">Aucun repas @(showPast ? "passé" : "à venir") n'est actuellement enregistré.</p>
    }
    else
    {
        <div class="row">
            @foreach (var meal in meals)
            {
                <div class="col-md-4">
                    <div class="card text-card-color cards-color mt-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">@GetCapitalizedDate(meal.Date)</h5>
                            <h6 class="card-subtitle mb-2">Prix: @meal.Price €</h6>
                            <p class="card-text">@meal.Commentaires</p>

                            <h6>Plats:</h6>
                            @foreach (var category in Enum.GetValues(typeof(RanchDuBonheur.Models.Pocos.Meals.DishCategory)).Cast<RanchDuBonheur.Models.Pocos.Meals.DishCategory>())
                            {
                                var dishesInCategory = meal.MealDishes.Where(md => md.Dish.Category == category).Select(md => md.Dish).ToList();
                                if (dishesInCategory.Any())
                                {
                                    <strong>@category.GetDescription()</strong>
                                    <ul>
                                        @foreach (var dish in dishesInCategory)
                                        {
                                            <li>@dish.Name</li>
                                        }
                                    </ul>
                                }
                            }

                            <h6>Artistes:</h6>
                            <ul>
                                @foreach (var artist in meal.MealArtists.Select(ma => ma.Artist))
                                {
                                    <li>@artist.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

</div>

@functions {
    private string GetCapitalizedDate(DateOnly date)
    {
        var dateTime = date.ToDateTime(new TimeOnly(0));
        var formattedDate = dateTime.ToString("dddd d MMMM yyyy", new System.Globalization.CultureInfo("fr-FR"));
        return char.ToUpper(formattedDate[0]) + formattedDate.Substring(1);
    }
}

