@using RanchDuBonheur.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model Tuple<List<RanchDuBonheur.Models.Pocos.Meals.Meal>, bool>
@{
    ViewData["Title"] = "Prochains Repas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var meals = Model.Item1;
    var showPast = Model.Item2;
}

<div class="container">

    <h1 class="text-center my-4">@(showPast ? "Repas Passés" : "Prochains Repas")</h1>

    <div class="d-flex justify-content-center mb-3">
        <a asp-action="Index" asp-route-showPast="@(!showPast)" class="btn btn-primary">
            @(showPast ? "Voir les prochains repas" : "Voir les repas passés")
        </a>
    </div>

    @if (meals.Count == 0)
    {
        <p class="text-center mt-4">Aucun repas @(showPast ? "passé" : "à venir") n'est actuellement enregistré.</p>
    }
    else
    {
        <div class="row">
            @foreach (var meal in meals)
            {
                <div class="col-md-4">
                    <div class="card h-100 shadow-sm border-3 rounded cards-color">
                        <a asp-controller="Event" asp-action="Event" asp-route-idEvent="@meal.Id" class="text-decoration-none">
                            <div class="card-header">
                                <div id="carouselArtist@meal.Id" class="carousel slide" data-ride="carousel" data-interval="4000">
                                    <div class="carousel-inner">
                                        @{
                                            bool isFirst = true;
                                        }
                                        @foreach (var artist in meal.MealArtists.Select(ma => ma.Artist))
                                        {
                                            <div class="carousel-item @(isFirst ? "active" : "")">
                                                <div class="artist-image-container d-flex justify-content-center align-items-center">
                                                    <img src="@artist.PhotoUrl" class="d-block img-fluid">
                                                </div>
                                            </div>
                                            isFirst = false;
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center text-decoration-none normal-text">@meal.Date.GetCapitalizedDate()</h3>
                                <h4 class="card-subtitle mb-2 mt-3 text-center normal-text">Prix: @meal.Price €</h4>
                                <h5 class="text-center mt-3 mb-4 normal-text">Boissons à volonté!!</h5>
                                <div class="text-center normal-text">
                                    <hr />
                                    <strong>Avec:</strong>
                                    <ul>
                                        @foreach (var artist in meal.MealArtists.Select(ma => ma.Artist))
                                        {
                                            <li class="mt-2 normal-text">
                                                @artist.Name
                                            </li>
                                        }
                                    </ul>
                                    <hr />
                                    Cliquez pour plus de détails
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            }
        </div>
    }

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.carousel').carousel('cycle');
        });
    </script>
}

